#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
bin/Debug/*
[Rr]elease*/
Ankh.NoLoad
*.psess
*.vsp

#Project files
[Bb]uild/

# Office Temp Files
~$*

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

#Libtcod exceptions
!bin/Debug/*.dll
!bin/Debug/*.png
